@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111724; /* Same as .App background color */
  margin: 0; /* Reset default margin */
}

.App {
  background-color: #111724; /* UEFA theme color */
  color: white;
  font-family: 'Arial', sans-serif;
  min-height: 100vh; /* Ensure it covers the full viewport height */
}

.name-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
}

.name-entry form {
  background-color: #2c3545; /* Dark blue background */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.name-entry label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #b0c0c3;
}

.name-entry input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #edb63c; /* UEFA 
  yellow border */
  background: transparent;
  color: #b0c0c3;
  border-radius: 20px;
}

.name-entry button {
  background: #edb63c; /* UEFA yellow */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: #0d2c5c; /* UEFA dark blue */
  font-weight: bold;
}

.name-entry input[type="text"]:focus {
  outline: none;
  border-color: #ffffff; /* White focus */
}

.name-entry button:hover {
  background-color: #e6b800; /* Darker yellow on hover */
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #031a6e; /* adjust as needed */
  padding: 1rem;
}

.title {
  margin-left: 1rem; /* adjust as needed */
  color: white;
  position: absolute;
  font-size: large;
}

.username-display {
  position: absolute;
  top: 3%; /* match the top position of .title */
  right: 3%; /* adjust as needed */
  color: #fff; /* or any color you prefer */
  font-size: small;
}

.menu-container {
  position: relative; /* For positioning the dropdown menu */
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.menu-button, .play-button {
  background: #ffcd00; /* UEFA yellow */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  color: #0d2c5c; /* UEFA dark blue */
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-between; /* This will space out the children (cards) */
  padding: 20px; /* Add padding around the cards */
}

/* Responsive styles for the layout of the cards */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .cards-container .soccer-card {
    margin-bottom: 20px;
  }
}

.menu-container {
  position: relative; /* This is needed to position the submenu absolutely within the menu container */
}

.menu-options {
  position: absolute;
  top: 100%; /* Position it right below the menu button */
  background-color: #0d2c5c; /* UEFA theme color */
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 9999; /* Ensure the menu is above other elements */
}

.menu-options button {
  color: white;
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.menu-options button:hover {
  background-color: #ffcd00; /* Highlight option on hover */
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this height as needed */
  margin-top: -50px; /* Adjust if other elements are above it */
}

.play-button {
  font-size: 2em; /* Adjust size as necessary */
  padding: 10px 20px;
  cursor: pointer;
  /* Add further styling as needed */
}

.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust as necessary */
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Above other elements */
  border-radius: 8px;
  color: black;
}

.card-layout {
  display: flex;
  justify-content: space-around; /* Adjust layout as needed */
  padding: 20px;
}

.card-and-stack-left {
  display: flex;
  flex-direction: column;
  left: 3%;
  position: absolute;
}

.card-and-stack-right {
  display: flex;
  flex-direction: column;
}