.soccer-card {
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffd700;
    color: #000;
    font-family: 'Arial', sans-serif;
    z-index: 2;
  }
  
  .card-header {
    position: relative;
  }
  
  .player-image {
    width: 100%;
    object-fit: cover;
  }
  
  .player-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .country-flag, .club-logo {
    width: 30px;
    height: auto;
  }
  
  .player-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .player-position {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .small-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.card-body {
    display: flex; /* Using Flexbox */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Space between buttons */
}

.rating-btn {
    flex: 0 1 auto; /* Allows the button to grow and shrink but not overflow */
    padding: 5px 10px; /* Adjust padding as needed for button size */
}
  
  .rating-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  