.soccer-card {

    width: 250px;
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffd700;
    color: #000;
    font-family: 'Arial', sans-serif;
    z-index: 2;
    padding-bottom: 70px;
    text-align: center;
    height: 100%;
  }
  
  .card-header {
    position: relative;
  }
  
  .player-image {
    /* object-fit: cover; */
    float: right;
    margin-right: 15px;
  }
  
  .player-info {
    text-align: center;
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
  }

  .disabledButton {
    color: #ccc; /* Grayed out text */
    cursor: not-allowed; /* Changes cursor to indicate the button is disabled */
    /* Other styling as needed */
}

  
  .country-flag, .club-logo {
    width: 30px;
    height: auto;
  }
  
  .player-name {
    color:black;
    text-shadow: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  
  .player-position {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .small-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.card-body {
    display: flex; /* Using Flexbox */
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Space between buttons */
    height: 100%;
    font-size: normal;
    padding-top: 20px;;
}


.rating-btn {
    flex: 0 1 auto; /* Allows the button to grow and shrink but not overflow */
    padding: 5px 10px; /* Adjust padding as needed for button size */
}
  
  .rating-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  